:root{
  --background-color: #eeeeee;
  --text-color: #1e0c1b;
  --accent-color: #4A1F43;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--background-color);
  backdrop-filter: blur(8px);
  color: var(--text-color);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #1e0c1b;
  font-weight: 300;
  text-wrap: nowrap;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, var(--background-color), var(--text-color));
}

li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-position 0.4s ease-in-out;
  
  background: linear-gradient(to right, var(--background-color), var(--text-color), var(--background-color));
  background-size: 200% 100%;
  background-position: left;
}

.visit-btn:hover {
  background-position: right;
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    border-radius: 1.5rem;
}
.about img{
    width: 30vw;
    border-radius: 50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.info-box h1{
  font-size: 4rem;
  font-weight: 600;
}
.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}
.btn-group{
  display: flex;
  gap: 1rem;
}
.btn{
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--text-color);
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
}
.btn:hover{
  background: var(--text-color);
  color: var(--background-color);
}
.socials{
  display: flex;
  gap: 2rem;
}
.socials i{
  color: var(--text-color);
  font-size: 2.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.socials i:hover{
  transform: scale(1.1); 
}