* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body{
    background-color: gray;
    color: #4A1F43;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #EAEAEA;
  backdrop-filter: blur(8px);
  color: #4A1F43;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4A1F43;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #4A1F43;
  font-weight: 300;
  text-wrap: nowrap;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, #EAEAEA, #4A1F43);
}

li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: #4A1F43;
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-position 0.4s ease-in-out;
  
  background: linear-gradient(to right, #EAEAEA, #4A1F43, #EAEAEA);
  background-size: 200% 100%;
  background-position: left;
}

.visit-btn:hover {
  background-position: right;
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: #EAEAEA;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
}
.about img{
    width: 30vw;
    border-radius: 50%;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.btn-group{
  display: flex;
  gap: 1rem;
}
.btn{
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid #4A1F43;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
.btn:hover{
  background-color: #4A1F43;
  color: #EAEAEA;
}
.socials{
  display: flex;
  gap: 2rem;
}
.socials i{
  color: #4A1F43;
  font-size: 2.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.socials i:hover{
  transform: scale(1.1); 
}