* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body{
    background-color: gray;
    color: #4A1F43;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #EAEAEA;
  backdrop-filter: blur(8px);
  color: #4A1F43;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4A1F43;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #4A1F43;
  font-weight: 300;
  text-wrap: nowrap;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, #EAEAEA, #4A1F43);
}

li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: #4A1F43;
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-position 0.4s ease-in-out;
  
  background: linear-gradient(to right, #EAEAEA, #4A1F43, #EAEAEA);
  background-size: 200% 100%;
  background-position: left;
}

.visit-btn:hover {
  background-position: right;
}

#menu-icon{
    font-size: 2rem;
    display: none;
}