:root {
  --background-color: #eeeeee;
  --text-color: #1e0c1b;
  --accent-color: #4a1f43;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--text-color);
  backdrop-filter: blur(8px);
  color: var(--background-color);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--background-color);
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: var(--background-color);
  font-weight: 300;
  text-wrap: nowrap;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    var(--background-color),
    var(--text-color)
  );
}

li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: background-position 0.4s ease-in-out;

  background: linear-gradient(
    to right,
    var(--background-color),
    var(--text-color),
    var(--background-color)
  );
  background-size: 200% 100%;
  background-position: left;
}

.visit-btn:hover {
  background-position: right;
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  border-radius: 1.5rem;
}
.about img {
  width: 30vw;
  border-radius: 50%;
}
.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}
.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}
.btn-group {
  display: flex;
  gap: 1rem;
}
.btn {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--text-color);
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
  color: var(--text-color);
}
.btn:hover {
  background: var(--text-color);
  color: var(--background-color);
}
.socials {
  display: flex;
  gap: 2rem;
}
.socials i {
  color: var(--text-color);
  font-size: 2.5rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.socials i:hover {
  transform: scale(1.1);
}

/**Projects Section**/
.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.project-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid var(--text-color);
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.project-card:hover {
  background: var(--text-color);
  color: var(--background-color);
  transform: translateY(-10px) scale(1.02);
}
.project-card img {
  width: 20vw;
  border-radius: 1rem;
}
.project-card:hover .btn {
  border: 2px solid var(--background-color);
  color: var(--background-color);
}
.project-card:hover .btn:hover {
  background: var(--background-color);
  color: var(--text-color);
}
.project-card h3 {
  font-size: 2rem;
  font-weight: 500;
}

/**Footer**/
footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
footer ul li a {
  color: var(--text-color);
  font-weight: 600;
  text-wrap: nowrap;
}
.copyright {
  color: var(--text-color);
  font-size: 300;
  opacity: 0.8;
  margin-top: 2rem;
}

/**Responsive**/
@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .contact-container input {
    padding: 1rem 4rem;
    font-size: 2rem;
  }
  .input input::placeholder {
    font-size: 2rem;
  }
  .contact-container i {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  header.logo {
    font-size: 1rem;
  }
  header .visit-btn {
    display: none;
  }
  .about-container {
    flex-direction: column;
  }
  .contact-container input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
  .contact-container input::placeholder {
    font-size: 1.5rem;
  }
  .contact-container i {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-info img {
    width: 70vw;
  }
}
@media (max-width: 600px) {
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem;
    background: var(--text-color);
    flex-direction: column;
    text-align: center;
    border-radius: 3rem;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .nav-links li a {
    color: var(--background-color);
    font-size: 1.2rem;
  }
  .nav-links.active {
    opacity: 0.9;
    transform: translateY(0);
    pointer-events: auto;
  }
  header {
    padding: 1rem 5rem;
    gap: 8rem;
    background: var(--text-color);
    color: var(--background-color);
  }
  header .logo {
    font-size: 1.2rem;
    color: var(--background-color);
  }
  .about-container img {
    width: 80vw;
  }
  .contact-container input {
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    width: 80%;
  }
  .contact-container input::placeholder {
    font-size: 1rem;
  }
  footer ul {
    gap: 1rem;
  }
}
